body,
html {
    background-color: #FFFF;
    margin: 0px;

}

#navbar {
    margin-top: 13px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

#searchbar {
    display: inline-block;
    height: 2rem;
    border-radius: 5px;
    background-color: #F5F5F5;
    width: 15rem;
    border: none;
    box-shadow: 0px 3px #dcdbdb;
    font-weight: bold;
    margin: 0.3rem 0px 0px 0.5rem;
}

#loginsignup {
    display: inline-block;
    height: 2rem;
    border-radius: 5px;
    background-color: #F5F5F5;
    width: 15rem;
    border: none;
    box-shadow: 0px 3px #dcdbdb;
    margin-right: 00.5rem;

}

#enter {
    height: 18px;
    width: 18px;
    padding-top: 5px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin: 0 auto 0 auto;
    font-weight: bold;
}

#head {
    width: fit-content;
    margin: 0px auto 0px auto;
}

#head h1 {
    font-size: 6rem;
    font-weight: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3e3e3e;

    margin-bottom: 0px;
    font-family: 'Ubuntu', sans-serif;


}

#head h5 {
    position: relative;

    font-family: 'Ubuntu', sans-serif;
    left: 28em;
    bottom: 2.3rem;
    color: #9d9d9d;

}

#navbar2 ul {
    width: 30%;
    display: flex;
    margin: 0px auto 0px auto;
    list-style: none;
    justify-content: space-evenly;
    font-family: 'Ubuntu', sans-serif;
    color: #2f2f2f;
    position: relative;
    bottom: 25px;




}

.nav li a:hover {
    color: #4d4c4c;
}

#mainimg {
    width: 100%;
    margin-top: 70px;

}

#mainimg img {
    width: 100%;
    border-radius: 5px;
}

.trendingblog h2 {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    color: #2f2f2f;
    font-family: 'Ubuntu', sans-serif;
}

.trendingblog h5 {
    display: flex;

    justify-content: space-around;
    color: #9d9d9d;
    font-family: 'Ubuntu', sans-serif;
}


.blogimg {
    width: 100%;

}

.blogimg img {
    width: 80%;

    display: block;
    margin: 0px auto 20px auto;
    border-radius: 5px;
}

.blogimg a {
    width: 80%;

    display: block;
    color: #9d9d9d;
    font-family: sans-serif;
    margin: 0px auto 0px auto;
}

.blogimg a:hover {
    color: #6a6a6a;
}

#bottomtrend {
    width: 100%;
    margin-top: 70px;
    display: flex;
}

.bottom1 {
    width: 25%;
}

.bottom1 img,

h3 {
    width: 80%;
    display: block;
    
    margin: 0px auto 0px auto;
}

.bottom1 img {
    border-radius: 5px;
    margin-bottom: 5px;
    height: 220px;
}

.bottom1 a {
    width: 80%;
    display: block;
    margin: 0px auto 0px auto;
    font-family: sans-serif;
    
}

.bottom1 a:hover{
    color: #515050;
}

#footer{
    background-color: #2f2f2f;
    height: 100px;
    margin-top: 50px;
    width: 100%;
}

.icon{
    width: 10%;
    margin: 0px auto 0px auto;
    padding-top: 17px;
    
}
.icon img {
    height: 20px;
    width: 20px;
 
}

.icon {
  display: flex;
  align-items: center;

    
}

#contact{
    color: #9d9d9d;
    text-align: center;
    line-height: 4px;
    font-size: 14px;
    font-family: sans-serif;
    margin-top: 20px;
}